input{
    width: 300px;
}

button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid;
    font-family: cousine;
}

.emailtext{
    font-family: cousine;

}

input {
    font-family: 'Lily Script One', cursive;
}

select {
    font-family: 'Lily Script One', cursive;

}



#sendEmailButton{


    background-color: #fdb52f;
    color: white;
    font-family: cousine;
    width: 200px;
    height: 40px;
    word-wrap: normal;

}

#sendForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

#emailSection{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
  
    
    }

    #exitGroceryForm{
        
        
        display: flex;
        justify-content: space-between;
        align-items: center; 
        justify-content: flex-end;
      
        
        }

        #exitButton{
            border: none;
            
            
        }