<div id="sendForm">

  
  <div id="exitGroceryForm">
  <mat-dialog-actions>
      <button id="exitButton" mat-button mat-dialog-close>X</button>
    </mat-dialog-actions>
  </div>


  <div id="emailSection" class="form-group emailtext">
   
      <label for="quantity" class="col-sm-2 control-label">Email</label>
      <mat-form-field>
          <textarea matInput placeholder="youremail@email.com" id="name" name="name" required minlength="2" maxlength="255"></textarea>
      </mat-form-field>

      <button id="sendEmailButton" mat-raised-button [mat-dialog-close]="name">Send Email</button>
   
  </div>
</div>






