input{
    width: 300px;
}

button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid;
    font-family: cousine;
}

.emailtext{
    font-family: cousine;

}

input {
    font-family: 'Lily Script One', cursive;
}

select {
    font-family: 'Lily Script One', cursive;

}

#sendForm{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 200px;

}

#exitGroceryForm{
    display: flex;
    justify-content: flex-end;

}

#emailSection{
    display: flex;
    flex-flow: row;
    justify-content: space-between

}

matDialogContainer{
    padding-bottom: 100px;
}