#fridgeFormHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 50px;
}

label {
    font-family: 'Cousine';
}

:host {
    display: block;
    background-image: url(../../assets/images/bg-pattern2.png);
    /* background-size: cover; */
    min-height: calc(100vh - 102px);
    padding-bottom: 400px;
}

input {
    font-family: 'Lily Script One', cursive;
}

select {
    font-family: 'Lily Script One', cursive;

}

section {
    width: 1000px;
}

.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgba(252, 245, 236, 0.733); */
    border-radius: 20px;
    padding: 20px;
  }
  
  .example-container > * {
    width: 80%;
  }