<br>
<br>
<br>
<br>

<app-status-message [errorMessage]="errorMessage" [successMessage]="successMessage"></app-status-message>
<section>


<div id="loginContent" class="content">
  <div id="content">
    <p id="login">Log in</p>
  </div>  
    <img id="foodImg" src="../../assets/images/ortaggi.svg"/>
</div>
<form class="example-container" (ngSubmit)="saveLogin(loginForm)"  #loginForm="ngForm">
  <mat-form-field>
    <input matInput placeholder="Email/Username" ngModel #email="ngModel" id="email" name="email" required />
    <mat-error>
      <span *ngIf="formErrors.email" class="text-danger">
        {{ formErrors.email }}
      </span>
    </mat-error>
 </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" ngModel #password="ngModel" id="password" name="password" required />  
    <mat-error>
      <span *ngIf="formErrors.password"  class="text-danger">
        {{ formErrors.password }}
      </span>
    </mat-error>
  </mat-form-field>
  <br>
  <div class="form-group">
    <div>
        <button id="submitButton" mat-raised-button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </div>
  
</form>
</section>