<br>
<br>
<br>
<br>
<ol class="breadcrumb">
  <li class="active">Grocery List</li>
  <li><a routerLink="/grocery/add">Add Grocery Item</a></li>
</ol>

<div id="groceryContent" class="content">
    <div id="content">
      <p id="grocery">Grocery List</p>
      <p id="groceryText">Manage your grocery list here!</p>
    </div>  
      <img id="foodImg" src="../../assets/images/ortaggi.svg"/>
  </div>

  <div class="foodTable">
    <table class="table table-bordered" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th class="text-center">Food</th>
          <th class="text-center">Category</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groceryItem of groceryItems">
          <td class="text-center">{{groceryItem.name}}</td>
          <td class="text-center">{{groceryItem.category}}</td>
          <td class="text-center">{{groceryItem.quantity}}</td>
          <td class="text-center">
            <button (click)="sendGroceryToFridge(groceryItem.id)" class="btn btn-warning">Fridge</button>
            <a class="btn btn-primary" [routerLink]="['/grocery/edit/', groceryItem.id]">Edit</a>&nbsp;
            <button (click)="deleteGroceryItem(groceryItem.id)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <a class="btn btn-primary" routerLink="/grocery/add">Add Grocery Item</a>