<div id="groceryContainer">
<br>
<br>
<br>
<br>
<div id="groceryContent" class="content">
    <div id="content">
      <p class="text-center" id="grocery">Grocery List</p>
      <p class="text-center" id="groceryText">Manage your grocery list here for quick and easy shopping!</p>
    </div>  
      <img id="foodImg" src="../../assets/images/groceries.svg"/>
  </div>

  <div id="buttonDiv">
      <button class="button" mat-raised-button routerLink="/grocery/add">Add Grocery Item</button>
      
      <button class="button" mat-raised-button (click)="openLoginModal()">Send Grocery List</button>
  </div>
  <br>

  <div class="foodTable">
    <table class="table table-bordered table-hover" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th class="text-center">Food</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let groceryItem of groceryItems">
          <td class="text-center">{{groceryItem.name}}</td>
          <td class="text-center">{{groceryItem.quantity}}</td>
          <td class="text-center">
           <!-- <button title="Put grocery item in fridge" (click)="sendGroceryToFridge(groceryItem.id)"  class="manageButtons"><mat-icon svgIcon="fridge"></mat-icon></button>-->
           <button type="button" data-name="{{groceryItem.name}}" title="Put grocery item in fridge" [routerLink]="['/fridge/search/', groceryItem.name]" (click)="deleteGroceryItem(groceryItem.id)" class="manageButtons"><mat-icon svgIcon="fridge"></mat-icon></button>
           
 
            <button title="Edit grocery item" [routerLink]="['/grocery/edit/', groceryItem.id]" class="manageButtons"><mat-icon svgIcon="edit"></mat-icon></button>
            <button (click)="deleteGroceryItem(groceryItem.id)" title="Delete grocery item" class="manageButtons"><mat-icon svgIcon="remove"></mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  

  

