
<div id="allFields" class="form-group emailtext">

  <div id="exitFridgeGroceryForm">
    <mat-dialog-actions>
        <button id="exitButton" mat-button mat-dialog-close>x</button>
    </mat-dialog-actions>
  </div> 
    
 
  <div id="fridgeGroceryFields">
    <form class="example-container" #quantityForm="ngForm">
        <mat-form-field>
            <input matInput [(ngModel)]="quantity"  placeholder="Quantity" id="quantity" name="quantity" required pattern="^[1-9][0-9]*$" /> 
            <mat-error>
                <span *ngIf="formErrors.quantity" class="text-danger">
                    {{ formErrors.quantity }}
                </span>
            </mat-error>
          </mat-form-field>
        <mat-dialog-actions>
          <button id="sendButton" type="submit" [disabled]=!quantityForm.form.valid mat-raised-button [mat-dialog-close]="quantity">Add to Grocery List</button>
        </mat-dialog-actions>
    </form>
    </div>

</div>


