<br>
<br>
<br>
<br>
<br>


<div id="searchDiv">
<div id="fridgeContent" class="content">
  <div id="content">
    <p id="fridge">Food Search</p>
    <p id="foodText">Search to add items to your fridge/pantry!</p>
  </div>  
    <img id="foodImg" src="../../assets/images/ortaggi.svg"/>
</div>
<app-status-message [errorMessage]="errorMessage" [successMessage]="successMessage"></app-status-message>

<button id="addButton" mat-raised-button routerLink="/fridge/add">Bypass Search</button>
<br>
<br>
<form (ngSubmit)="searchFood(foodForm)"  #foodForm="ngForm" class="form-horizontal">
    <div class="form-group">
      <label for="searchTerm" class="col-sm-2 control-label">Fridge/Pantry Item:</label>
      <div class="col-sm-10">
        <input ngModel #searchTerm="ngModel" [ngModel]="foodItem" type="text" class="form-control" id="searchTerm" name="searchTerm" placeholder="Banana" required >
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <button id="submitButton" mat-raised-button type="submit" [disabled]="!foodForm.form.valid" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
  <br>
  <br>
  <br>

  <div *ngIf="foodItems" class="searchResults" id="searchResultsTable">
      <table class="table table-bordered table-hover" id="dataTable" style="width:100%">
        <thead>
          <tr>
            <th class="text-center">Add to Fridge/Pantry</th>
            <th class="text-center">Food Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let foodItem of foodItems">
              <td class="text-center">
                  <button id="selectButton" mat-icon-button routerLink="/fridge/addsearch/{{foodItem.id}}">
                    <mat-icon svgIcon="select"></mat-icon>
                  </button>
              </td>
            <td class="text-center">{{foodItem.name}}</td> 
          </tr>  
        </tbody>
      </table>
    </div>
  