@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#fridge {
    font-family: 'Lily Script One', cursive;
    font-size: 80px;
    color:hsla(125, 68%, 34%, 1.0);
}

#foodImg {
    width: 400px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}


#foodText {
    font-family: 'Cousine';
    width: 300px;
    padding-top: 0px;
}

#fridgeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodTable {
    background-color: white;
    font-family: 'Cousine';

}

.manageButtons {
    background-color: white;
    border: none;
}

:host {
    display: block;
    background-image: url(../../assets/images/bg-pattern2.png);
    /* background-size: cover; */
    min-height: calc(100vh - 102px);
    padding-bottom: 400px;
}

.legend {
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    width: 450px;
    display: flex;  
    flex-direction: column;
    font-family: cousine;
}

.iconLegend {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#legendTitle {
    font-family: 'Lily Script One', cursive;
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex; 
    justify-content: center;
    
}

.iconText {
    padding-left: 10px;
}

#warningheader{
    background-color: #D36666;
    line-height: 47px;
    display: flex;
   
    
    
}

#alertslinktext{
    color: #F5ECEC;
    font-size: 13pt;
    font-family: 'cousine';
    vertical-align: middle;
}

#alertslinktext:hover  {
color: #A02C2C;
text-decoration-line: none;
}

#keylinktext{
    color: #8F7649;
    font-size: 14pt;
    font-family: 'cousine';  
}

#keylinktext:hover  {
    color: #C0A26E;
    text-decoration-line: none;
    }

#tabletop{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#keytop{
    display: flex;
    justify-content: flex-end;

}