<p>
  fridge works!
</p>
<br>
<br>
<ol class="breadcrumb">
  <li><a routerLink="/fridge">fridge</a></li>
  <li class="active">Manage Fridge</li>
</ol>


<h1>Dairy, Meats, Grains, Produce</h1>


<table class="table table-striped table-bordered" id="dataTable" style="width:100%">
  <thead>
    <tr>
      <th>Fridge ID</th>
      <th>Category ID</th>
      <th>Item Name</th>
      <th>Expiration Date</th>
      <th>Color ID</th>
      <th>Management of Item</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fridgeItem of fridgeItems">
      <td>{{fridgeItem.fridge_id}}</td>
      <td>{{fridgeItem.category_id}}</td>
      <td>{{fridgeItem.item_name}}</td>
      <td>{{fridgeItem.expiration_date}}</td>
      <td>{{fridgeItem.color_id}}</td>
      <td class="text-center">
        <a class="btn btn-primary" [routerLink]="['/fridge/edit/', fridge.fridge_id]">Edit</a>&nbsp;
        <button (click)="deleteFridgeItem(fridge.fridge_id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" routerLink="/fridge/add">Add Fridge Item</a>
