<p>
  fridge works!
</p>
<br>
<br>
<ol class="breadcrumb">
  <li><a routerLink="/fridge">fridge</a></li>
  <li class="active">Manage Fridge</li>
</ol>


<h1>Fridge Inventory</h1>


  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Fridge ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Expiration Date</th>
        <th>Color ID</th>
        <th>Management of Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fridgeItem of fridgeItems">
        <td>{{fridgeItem.id}}</td>
        <td>{{fridgeItem.name}}</td>
        <td>{{fridgeItem.category}}</td>
        <td>{{fridgeItem.expirationDate}}</td>
        <td>{{fridgeItem.color_id}}</td>
        <td class="text-center">
          <!-- <a class="btn btn-primary" [routerLink]="['/fridge/edit/', fridge.id]">Edit</a>&nbsp; -->
          <button (click)="openManageFormModal(fridgeItem.id)" class="btn btn-primary">Manage Fridge Item</button>
        </td>
      </tr>
    </tbody>
  </table>

  




<a class="btn btn-primary" routerLink="/fridge/add">Add Fridge Item</a>


