<br>
<br>
<br>
<br>
<ol class="breadcrumb">
  <li class="active">Fridge Inventory</li>
  <li><a routerLink="/fridge/add">Add Fridge Item</a></li>
</ol>



<mat-icon svgIcon="test"></mat-icon>

<h1>Fridge Inventory</h1>

  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Fridge ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Expiration Date</th>
        <th>Food Freshness</th>
        <th>Management of Item</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fridgeItem of fridgeItems">
        <td>{{fridgeItem.id}}</td>
        <td>{{fridgeItem.name}}</td>
        <td>{{fridgeItem.category}}</td>
        <td>{{fridgeItem.expirationDate}}</td>
        <td class="text-center">
          <mat-icon *ngIf="fridgeItem.level==1" svgIcon="green"></mat-icon>
          <mat-icon *ngIf="fridgeItem.level==2" svgIcon="yellow"></mat-icon>
          <mat-icon *ngIf="fridgeItem.level==3" svgIcon="red"></mat-icon>
          <mat-icon *ngIf="fridgeItem.level==4" svgIcon="black"></mat-icon>
        </td>
        <td class="text-center">
          <!-- <a class="btn btn-primary" [routerLink]="['/fridge/edit/', fridge.id]">Edit</a>&nbsp; -->
          <button (click)="openManageFormModal(fridgeItem.id)" class="btn btn-primary">Manage Fridge Item</button>
        </td>
      </tr>
    </tbody>
  </table>

  




<a class="btn btn-primary" routerLink="/fridge/add">Add Fridge Item</a>


