@import "~@angular/material/prebuilt-themes/indigo-pink.css";


#fridge {
    font-family: 'Lily Script One', cursive;
    font-size: 80px;
    color:hsla(125, 68%, 34%, 1.0);
}

#foodImg {
    width: 400px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}


#foodText {
    font-family: 'Cousine';
    width: 300px;
    padding-top: 0px;
}

#fridgeContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodTable {
  
    background-color: white;
    font-family: 'Cousine';


}


.manageButtons {
    background-color: transparent;
    border: none;
}

:host {
    display: block;
    background-image: url(../../assets/images/bg-pattern2.png);
    /* background-size: cover; */
    min-height: calc(100vh - 102px);
    padding-bottom: 400px;
}

#legendSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 5px;
} 



.legend {
    border: 1px solid;
    border-radius: 15px;
    padding: 5px;
    width: 450px;
    display: flex;  
    flex-direction: column;
    font-family: cousine;
}

.iconLegend {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#legendTitle {
    font-family: 'Lily Script One', cursive;
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex; 
    justify-content: center;
    
}

.iconText {
    padding-left: 10px;
}

#warningSection{
    display: flex;
    align-items: center; 

}

#warningheader{
    background-color: #D36666;
    line-height: 47px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-right: 2px;
  
}

#alertTextSection{
    display: flex;
}

#alertIcon{
    display: flex;
    padding-bottom: 8px;
}
#alertslinktext{
    display: flex;
    color: #F5ECEC;
    font-size: 13pt;
    font-family: 'cousine';
    vertical-align: middle;
}

#alertslinktext:hover  {
color: #A02C2C;
text-decoration-line: none;
}

#crossOut{
    display: flex;
    padding-bottom: 8px;
    padding-right: 0px;

   
}

#crossOut:hover{
    background-color: white;
    text-decoration-line: none;
}





#addFridgeBar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center; 
  
}




.fridgeButtons {
    
        display: flex;
        margin-left: 5px;
        /* width: 200px;
        height: 40px; */
        word-wrap: normal;
        background-color: #fdb52f;
        font-family: cousine;
        border-radius: 10px;
        color: black;
  
}

.fridgeButtons:hover {
    background-color: #ffdd9f;
    color: white;
}



#editButtons{
    display: flex;
    align-content: middle;
    justify-content: center;
    
}

#addGroceryButton {
    
        margin-left: 0px;
        margin-top: 0px;
        background-color: #fdb52f;
        color: white;
        font-family: cousine;
        width: 200px;
        height: 35px;
        word-wrap: normal;
    }

#contentSection {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}