@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';


.foodTable {
    background-color: white;
}


:host {
    display: block;
    background-image: url(../assets/images/bg-pattern2.png);
}