<div id="trashContainer">
<br>
<br>
<br>
<br>
<div id="trashContent" class="content">
    <div id="content">
      <p class="text-center" id="trash">Your Trash</p>
      <p class="text-center" id="trashText">Review the food you have wasted and eaten. The less waste, the better!</p>
    </div>  
      <img id="foodImg" src="../../assets/images/garbagecan.svg"/>
  </div>
  <h1 class="trashHeadings">WASTED FOOD</h1>
  <div class="foodTable">
  <table class="table table-bordered table-hover" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Food</th>
        <th>Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trashItem of trashItems">
        <td>{{trashItem.name}}</td>
        <td>{{trashItem.expirationDate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h1 class="trashHeadings">FOOD YOU FINISHED BEFORE IT EXPIRED</h1>

<div class="foodTable">
    <table class="table table-bordered table-hover" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th>Food</th>
          <th>Expiration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let finishItem of finishItems">
            <td>{{finishItem.name}}</td>
            <td>{{finishItem.expirationDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>