#trash {
    font-family: 'Lily Script One', cursive;
    font-size: 80px;
    color:hsla(125, 68%, 34%, 1);
}

#foodImg {
    width: 400px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}


#trashText {
    font-family: 'Cousine';
    width: 300px;
    padding-top: 0px;
}

#trashContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodTable {
    background-color: white;
    font-family: 'Cousine';

}

.trashHeadings {
    font-family: 'Alfa Slab One';
    font-size: 30px;
}