<br>
<br>
<br>
<br>
<ol class="breadcrumb">
  <li class="active">Waste Bin</li>
</ol>

<div id="trashContent" class="content">
    <div id="content">
      <p id="trash">Your Trash</p>
      <p id="trashText">Review the food you have wasted and eaten. The less waste, the better!</p>
    </div>  
      <img id="foodImg" src="../../assets/images/ortaggi.svg"/>
  </div>
  <h1 class="trashHeadings">Wasted food</h1>
  <div class="foodTable">
  <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trashItem of trashItems">
        <td>{{trashItem.name}}</td>
        <td>{{trashItem.expirationDate}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h1 class="trashHeadings">Food you finished before expiration</h1>

<div class="foodTable">
    <table class="table table-striped table-bordered" id="dataTable" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Expiration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let finishItem of finishItems">
            <td>{{finishItem.name}}</td>
            <td>{{finishItem.expirationDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>