#signupheader {
    font-family: 'Lily Script One', cursive;
    font-size: 50px;
}

#passwordError {
    color: red;
    font-size: 24px;
    font-family: cousine;
}

input {
    font-family: 'Lily Script One', cursive;
}
