

<br>
<br>
<br>
<br>
<section>

<p id="passwordError">{{passwordError}}</p>





<app-status-message [successMessage]="successMessage" [errorMessage]="errorMessage"></app-status-message>
<div id="signupContent" class="content">
  <div id="content">
    <p id="signup">Sign up</p>
  </div>  
    <img id="foodImg" src="../../assets/images/ortaggi.svg"/>
</div>

<form class="example-container" (ngSubmit)="sendSignUpForm(signUpForm)"  #signUpForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="First Name" ngModel #firstName="ngModel" ngModel id="firstName" name="firstName" required minlength="2" maxlength="255" />
      <mat-error>
        <span *ngIf="formErrors.firstName" class="text-danger">
            {{ formErrors.firstName }}
        </span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Last Name" ngModel #lastName="ngModel" ngModel id="lastName" name="lastName" required minlength="2" maxlength="255"/>
      <mat-error>
        <span *ngIf="formErrors.lastName" class="text-danger">
            {{ formErrors.lastName}}
        </span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email/Username" ngModel #email="ngModel" ngModel id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"/>
      <mat-error>
        <span *ngIf="formErrors.email" class="text-danger">
            {{ formErrors.email}}
        </span>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type=password placeholder="Password" [(ngModel)]="password" ngModel id="password" name="password" required minlength="6"/>
      <mat-error>
        <span *ngIf="formErrors.password" class="text-danger">
          {{ formErrors.password}}
        </span>
      </mat-error> 
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type=password placeholder="Confirm Password" [(ngModel)]="confirmPassword" ngModel id="confirmPassword" name="confirmPassword" required minlength="6"/>
      <mat-error>
        <span *ngIf="formErrors.confirmPassword" class="text-danger">
          {{ formErrors.confirmPassword}}
        </span>
      </mat-error>
    </mat-form-field>
    <br>
    <div class="form-group">
      <div>
          <button id="submitButton" mat-raised-button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    
</form>

</section>
