

#passwordError {
    color: rgb(160, 4, 4);
    font-size: 24px;
    font-family: cousine;
}


.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgba(252, 245, 236, 0.733); */
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; 
  }
  
  .example-container > * {
    width: 85%;
  }

  #submitButton {
    background-color: #fdb52f;
    font-family: cousine;
}

#submitButton:focus {
    outline: 0;
}

.mat-form-field {
    font-family: cousine;
    font-size: 15px;
    position: none;
}

textarea {
    line-height: 15px;
}

#signup {
    font-family: 'Lily Script One', cursive;
    font-size: 80px;
    color:hsla(125, 68%, 34%, 1.0);
}

#foodImg {
    width: 400px;
    height: 300px;
    padding: 0px;
    margin: 0px;
}

#signupContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}
