

<h2 mat-dialog-title>Manage Fridge Item</h2>

<mat-dialog-content>
    


{{data.id}}
    <button class="btn btn-success" mat-button [mat-dialog-close]="'finished'">Mark Complete - nothing wasted</button>
    <button class="btn btn-warning" mat-button [mat-dialog-close]="'wasted'">Waste</button>
    <a class="btn btn-primary" routerLink="/fridge/edit/">Edit Item</a>
    <button class="btn btn-danger" mat-button [mat-dialog-close]="'delete'">Delete (wipe out)</button></mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn btn-secondary">Exit Manage Fridge Item</button>
</mat-dialog-actions>