<nav id="navContainer" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="#"><img alt="grocerygallery"/></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/fridge">fridge & pantry</a></li>
              <li routerLinkActive="active"><a routerLink="/grocery" >grocery list</a></li>
              <li routerLinkActive="active"><a routerLink="/trash" >trash</a></li>
          </ul>
      </div><!--/.nav-collapse -->
  </div>
</nav>