#navbar {
    font-family: 'Lily Script One', cursive;
    font-size: 20px;
}


.navbar-brand {
    font-family: 'cousine';
    font-size: 50px;
    color: #fdb52f;
}

#navContainer {
    background-color: white;
    border: none;
    padding: 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fdb52f;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ffdd9f;
}

.navbar-inverse .navbar-nav>.active>a {
    color: white;
    background-color: rgba(0, 128, 0, 0.76)
}