body {
    background-color: white !important;
    display: flex;
    flex-direction: row;
    width: 100%;
    

}

#headerTag {
    font-family: 'Lily Script One', cursive;
    font-size: 60px;

}

button {
    border-radius: 10px;
    background-color: white;
    border: 1px solid;
    font-family: cousine;
}

#contentContainer {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

#introText {
    font-family: cousine;

}