<br>
<br>
<br>
<br>
<br>
<br>
<body>
  <div id="homepageContainer">
    <div id="contentContainer">
            <p class="text-center" id="headerTag">Welcome to your GroceryGallery</p>
            <p id="introText">Manage your fridge and pantry items to eliminate waste!</p>
            <br>
            <br>
            <div>
                <button routerLink="/signup">Sign up </button>&nbsp;
                <button routerLink="/login">Log in</button>
            </div> 
    </div>
    <div>
            <img src="../../assets/images/homepagefridge2.jpg"/>
    </div>
  </div>
  
</body>
