#groceryFormHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 50px;
}

label {
    font-family: 'Cousine';
}

:host {
    display: block;
    background-image: url(../../assets/images/bg-pattern2.png);
    /* background-size: cover; */
    min-height: calc(100vh - 102px);
    padding-bottom: 400px;
}

input {
    font-family: 'Lily Script One', cursive;
}

select {
    font-family: 'Lily Script One', cursive;

}