#groceryFormHeader {
    font-family: 'Lily Script One', cursive;
    font-size: 60px;
    color: black;
    margin-bottom: 40px;
}

label {
    font-family: 'Cousine';
}

:host {
    display: block;
    background-image: url(../../assets/images/bg-pattern2.png);
    /* background-size: cover; */
    min-height: calc(100vh - 102px);
    padding-bottom: 400px;
}


.example-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color:rgba(252, 245, 236, 0.733); */
    border-radius: 20px;
    padding: 20px;
  }
  
  .example-container > * {
    width: 80%;
  }

  #manageGrocery {
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
  }

  #submitButton {
    background-color: #fdb52f;
    font-family: cousine;
}

.mat-form-field {
    font-family: cousine;
    font-size: 15px;
    position: none;

}

textarea {
    line-height: 30px;
}

#styling{
    background-color:rgba(252, 245, 236, 0.733);
}
